.root {
  display: flex;
  flex-direction: column;
}
.results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  padding-left: 2rem;
  font-size: 1rem;
  font-style: italic;
}
.searchBar {
  width: 88%;
  height: 2.5rem;
  border-radius: 3rem;
  border-color: rgb(195, 136, 231);
  border-color: linear-gradient(
    84deg,
    rgba(195, 136, 231, 1) 35%,
    rgba(216, 192, 255, 1) 100%
  );
  font-size: 18px;
}
.search {
  padding-left: 2rem;
  display: flex;
  justify-content: center;
}
.form {
  width: 100%;
}
