.root {
  display: inline-block;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  height: 25vh;
  width: 30vw;
  border-radius: 10%;
  /* padding-left: 7vw; */
}

.image {
  max-width: 80%;
  max-height: 55%;
  height: auto;
  padding-top: 4%;
  padding-left: 5%;
}

.header {
  font-family: "Lobster Two", cursive;
  margin: 3%;
}

.content {
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  margin: 3%;
}

.price {
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
  font-weight: bold;
  margin: 3%;
}

.body {
  display: flex;
  flex-direction: row;
  margin: 3%;
  justify-content: center;
}

.subtext {
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  font-style: italic;
  margin: 3%;
}

.maxPax {
  display: flex;
  flex-direction: row;
  margin: 3%;
  justify-content: center;
}

.minusButton {
  margin-left: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  width: 5vw;
  height: 3vh;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  border-radius: 10% 0 0 10%;
}

.count {
  border: none;
  background-color: black;
  opacity: 0.4;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  width: 5vw;
  height: 3vh;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
}

.addButton {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  width: 5vw;
  height: 3vh;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  border-radius: 0 10% 10% 0;
}

.minusButton:hover {
  cursor: pointer;
}

.addButton:hover {
  cursor: pointer;
}
